.random {
    margin: 5% 10em 9%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: auto;
}

.random h1 {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.random>div {
    background: #f3f5f4;
}*/

.random-image {
    width: 75%;
    height: 35vh;
    border-radius: 12px;
    margin-top: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #f07e0e;
    padding: 5px;
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 1.2em;
}

.vote {
    font-family: cursive;
    color: #111111;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 30px;
}

.buttonwrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    /*position: relative;*/
    left: 0;
    right: 0;
    margin: 1em auto 1em auto;
    /*margin-left: 30em;
    margin-right: 100px;*/
    color: #D62400;
    /*height: 5em;*/
    width: 12em;
    align-self: center;
    border-radius: 2.5em;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: #f07e0e;
}

Link {
    text-decoration: none;
}