.hamster-image {
    width: 100%;
    height: 25vh;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #A8682F;
    padding: 5px;
}

.container-list {
    margin: 9% 3em 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}


/*gap: 1.5em 1em;*/

.container-list {
    background: lightpurple;
    padding: 1em;
    border-radius: 15px;
    width: 90%;
    height: 50vh;
}

.container-list div p {
    margin-bottom: 0em;
    font-size: 2vh;
}

.container-list span {
    font-weight: bold;
    display: block;
    color: orange;
    font-size: 1.2em;
    margin: 1em 0 0.5em;
}

.list {
    background: #DB873D;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    list-style: none;
    /*height: 55vh;*/
}

.container-list .list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.delete {
    position: absolute;
    top: 0;
    right: 1;
    cursor: pointer;
}


/*.upload {
    float: right;
    padding-right: 70px;
}*/

.list li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5C4735;
    line-height: 20px;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50px;
    /*display: block;*/
    color: rgb(20, 20, 20);
    font-size: 1.2em;
    margin: 1em 0 0.5em;
}

.galleryButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    float: left;
    /*position: relative;*/
    /*left: 0;
    right: 0;
    margin: 1em auto 1em auto;*/
    /*margin-left: 30em;
    margin-right: 100px;S
    color: #D62400;
    height: 5em;*/
    width: 12em;
    align-self: center;
}