.formWrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    font-family: Margarine;
    font-size: 1em;
    border-radius: 2%;
    border: 2px solid #a8682f;
    background-color: white;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 2em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: none;
    overflow: hidden;
}

.Form button {
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 1.5em;
    padding-top: 5px;
    border-radius: 0.5em;
    margin-top: 2em;
    font-family: Margarine;
    width: 50%;
    height: 50px;
    margin: auto;
}

.Form button {
    background-color: #94c2ed;
    font-size: 1.2em;
    border-radius: 0.5em;
    padding: 0.5em 1.4em;
    transition: all 1s;
}

form>div {
    margin-top: 1em;
    margin-bottom: 2em;
}

form input {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    border-radius: 0.3em;
    border-width: 3px;
    padding-left: 0.5em;
    clear: both;
}

form label {
    font-weight: bold;
    font-size: 1em;
    text-align: right;
}

input.valid {
    border: 3px solid #5bbe36;
    border-radius: 5px;
}

input.invalid {
    border: 3px solid #dd2626;
    border-radius: 5px;
}

.error {
    color: #dd2626;
}

button.primary {
    padding: 0.3em 1.5em;
    margin-bottom: 0.7em;
    border: none;
    border-radius: 5px;
    background-color: #a8682f;
    color: white;
    font-size: 1em;
    font-family: Margarine;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

button:disabled {
    background-color: #f07e0e;
    color: #f7efef;
    cursor: auto;
}